:root {
 --rss-tg-border-main: 1px solid rgb(204 211 224);
 --rss-tg-border-radius-1: 7px;
 --rss-tg-prim-color: #000;
 --rss-tg-sec-color: rgb(95, 95, 95);
 --rss-tg-main-color: #425191;
 --rss-tg-main-bg: rgb(244, 246, 250);
}

body, 
html {
 padding: 0;
 margin: 20px;
 background-color: var(--rss-tg-main-bg);
}

@media only screen and (max-width: 500px) {
  body,
  html {
    margin: 20px 0 0;
  }
}