:root {
 --rss-tg-border-main: 1px solid gray;
 --rss-tg-border-radius-1: 7px;
 --rss-tg-prim-color: #000;
 --rss-tg-sec-color: rgb(95, 95, 95);
}

body, 
html {
 padding: 0;
 margin: 20px;
}

.ctg_rss {
 position: relative;
 width: 1230px;
 max-width: 100%;
 min-height: 435px;
 overflow: hidden;
 border: 1px solid gray;
 margin: 0 auto;
}

.ctg_rss button {
 cursor: pointer;
}

.ctg_rss > .ctg_rss_content {
 font-family: "Montserrat", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
 position: absolute;
 left: 0;
 top: 0;
 display: flex;
 flex-direction: row;
 justify-content: flex-start;
 align-items: stretch;

 padding: 2px 0;
 transition: 0.5s ease;
}

.ctg_rss > * {
 text-align: right!important;
}

.ctg_rss h3 {
 font-size: 22px;
 margin: 10px 0;
 color: var(--rss-tg-prim-color);
}

.ctg_rss p {
 font-size: 16px;
 color: var(--rss-tg-sec-color);
}

.ctg_rss .datetime {
 font-size: 15px;
 color: rgb(112, 112, 112);
 user-select: none;
}

.slide_block {
  width: 400px;
  height: 430px;
  flex: 0 0 400px;
  padding: 0 5px;
}

.slide_block_content {
 border: 1px solid gray;
 border-radius: var(--rss-tg-border-radius-1);
 overflow: hidden;
}

.slide_block .image {
 width: 100%;
 height: 300px;
 display: flex;
 justify-content: center;
 align-items: center;
 overflow: hidden;
 border-bottom: 1px solid gray;
 user-select: none;
}

.slide_block .image img {
 width: 100%;
 height: 300px;
 object-fit: cover;
 -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}

.slide_block .content {
 padding: 10px;
}

.ctg_rss .navigation button {
 position: absolute;
 bottom: calc(50% - 25px);
 height: 50px;
 width: 50px;
 padding: 0;
 margin: 5px;

 color: #fff;
 border-radius: 50%;
 overflow: hidden;
 border: 1px solid rgb(87, 87, 87);
 background-color: rgba(0, 0, 0, 0.514);
 transition: scale 0.3s ease;
}

.ctg_rss .navigation button:hover {
 transform: scale(1.1);
}

.ctg_rss .navigation button:active {
 background-color: rgb(112, 112, 112);
 transform: scale(1.05);
}

.ctg_rss .navigation button:nth-child(1) {
 left: 0;
}

.ctg_rss .navigation button:nth-child(2) {
 right: 0;
}